{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-24",
    "endpointPrefix":"api.sagemaker",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"SageMaker",
    "serviceFullName":"Amazon SageMaker Service",
    "serviceId":"SageMaker",
    "signatureVersion":"v4",
    "signingName":"sagemaker",
    "targetPrefix":"SageMaker",
    "uid":"sagemaker-2017-07-24"
  },
  "operations":{
    "AddAssociation":{
      "name":"AddAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddAssociationRequest"},
      "output":{"shape":"AddAssociationResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "AddAssociationInternal":{
      "name":"AddAssociationInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddAssociationInternalRequest"},
      "output":{"shape":"AddAssociationInternalResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "AddSharedModelReviewers":{
      "name":"AddSharedModelReviewers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddSharedModelReviewersRequest"},
      "output":{"shape":"AddSharedModelReviewersResponse"},
      "internalonly":true
    },
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsInput"},
      "output":{"shape":"AddTagsOutput"}
    },
    "AssociateTrialComponent":{
      "name":"AssociateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateTrialComponentRequest"},
      "output":{"shape":"AssociateTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "AssociateTrialComponentInternal":{
      "name":"AssociateTrialComponentInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateTrialComponentInternalRequest"},
      "output":{"shape":"AssociateTrialComponentInternalResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "BatchDescribeModelPackage":{
      "name":"BatchDescribeModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDescribeModelPackageInput"},
      "output":{"shape":"BatchDescribeModelPackageOutput"},
      "internalonly":true
    },
    "BatchGetMetrics":{
      "name":"BatchGetMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetMetricsRequest"},
      "output":{"shape":"BatchGetMetricsResponse"},
      "internalonly":true
    },
    "BatchPutMetrics":{
      "name":"BatchPutMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchPutMetricsRequest"},
      "output":{"shape":"BatchPutMetricsResponse"},
      "internalonly":true
    },
    "CopySharedModel":{
      "name":"CopySharedModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopySharedModelRequest"},
      "output":{"shape":"CopySharedModelResponse"},
      "internalonly":true
    },
    "CreateAction":{
      "name":"CreateAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateActionRequest"},
      "output":{"shape":"CreateActionResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateActionInternal":{
      "name":"CreateActionInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateActionInternalRequest"},
      "output":{"shape":"CreateActionInternalResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateAlgorithm":{
      "name":"CreateAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAlgorithmInput"},
      "output":{"shape":"CreateAlgorithmOutput"}
    },
    "CreateApp":{
      "name":"CreateApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAppRequest"},
      "output":{"shape":"CreateAppResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateAppImageConfig":{
      "name":"CreateAppImageConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAppImageConfigRequest"},
      "output":{"shape":"CreateAppImageConfigResponse"},
      "errors":[
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateArtifact":{
      "name":"CreateArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateArtifactRequest"},
      "output":{"shape":"CreateArtifactResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateArtifactInternal":{
      "name":"CreateArtifactInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateArtifactInternalRequest"},
      "output":{"shape":"CreateArtifactInternalResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateAutoMLJob":{
      "name":"CreateAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAutoMLJobRequest"},
      "output":{"shape":"CreateAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateAutoMLJobV2":{
      "name":"CreateAutoMLJobV2",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAutoMLJobV2Request"},
      "output":{"shape":"CreateAutoMLJobV2Response"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateAutoMLTask":{
      "name":"CreateAutoMLTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAutoMLTaskRequest"},
      "output":{"shape":"CreateAutoMLTaskResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateCluster":{
      "name":"CreateCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterRequest"},
      "output":{"shape":"CreateClusterResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateCodeRepository":{
      "name":"CreateCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCodeRepositoryInput"},
      "output":{"shape":"CreateCodeRepositoryOutput"}
    },
    "CreateCompilationJob":{
      "name":"CreateCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCompilationJobRequest"},
      "output":{"shape":"CreateCompilationJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateContext":{
      "name":"CreateContext",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateContextRequest"},
      "output":{"shape":"CreateContextResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateContextInternal":{
      "name":"CreateContextInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateContextInternalRequest"},
      "output":{"shape":"CreateContextInternalResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateCrossAccountTrainingJob":{
      "name":"CreateCrossAccountTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCrossAccountTrainingJobRequest"},
      "output":{"shape":"CreateCrossAccountTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateDataQualityJobDefinition":{
      "name":"CreateDataQualityJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataQualityJobDefinitionRequest"},
      "output":{"shape":"CreateDataQualityJobDefinitionResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateDeviceFleet":{
      "name":"CreateDeviceFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDeviceFleetRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDomainRequest"},
      "output":{"shape":"CreateDomainResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateEdgeDeploymentPlan":{
      "name":"CreateEdgeDeploymentPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEdgeDeploymentPlanRequest"},
      "output":{"shape":"CreateEdgeDeploymentPlanResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateEdgeDeploymentStage":{
      "name":"CreateEdgeDeploymentStage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEdgeDeploymentStageRequest"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateEdgePackagingJob":{
      "name":"CreateEdgePackagingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEdgePackagingJobRequest"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointInput"},
      "output":{"shape":"CreateEndpointOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateEndpointConfig":{
      "name":"CreateEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointConfigInput"},
      "output":{"shape":"CreateEndpointConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateEndpointConfigInternal":{
      "name":"CreateEndpointConfigInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointConfigInputInternal"},
      "output":{"shape":"CreateEndpointConfigOutputInternal"},
      "internalonly":true
    },
    "CreateEndpointInternal":{
      "name":"CreateEndpointInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointInputInternal"},
      "output":{"shape":"CreateEndpointOutputInternal"},
      "internalonly":true
    },
    "CreateExperiment":{
      "name":"CreateExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateExperimentRequest"},
      "output":{"shape":"CreateExperimentResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateExperimentInternal":{
      "name":"CreateExperimentInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateExperimentInternalRequest"},
      "output":{"shape":"CreateExperimentInternalResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateFeatureGroup":{
      "name":"CreateFeatureGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFeatureGroupRequest"},
      "output":{"shape":"CreateFeatureGroupResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateFeatureGroupInternal":{
      "name":"CreateFeatureGroupInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFeatureGroupInternalRequest"},
      "output":{"shape":"CreateFeatureGroupInternalResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateFlowDefinition":{
      "name":"CreateFlowDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFlowDefinitionRequest"},
      "output":{"shape":"CreateFlowDefinitionResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateGraphConfig":{
      "name":"CreateGraphConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGraphConfigInput"},
      "output":{"shape":"CreateGraphConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateHub":{
      "name":"CreateHub",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHubRequest"},
      "output":{"shape":"CreateHubResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateHumanTaskUi":{
      "name":"CreateHumanTaskUi",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHumanTaskUiRequest"},
      "output":{"shape":"CreateHumanTaskUiResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateHyperParameterTuningJob":{
      "name":"CreateHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHyperParameterTuningJobRequest"},
      "output":{"shape":"CreateHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateHyperParameterTuningJobInternal":{
      "name":"CreateHyperParameterTuningJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHyperParameterTuningJobInternalRequest"},
      "output":{"shape":"CreateHyperParameterTuningJobInternalResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateImage":{
      "name":"CreateImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateImageRequest"},
      "output":{"shape":"CreateImageResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateImageVersion":{
      "name":"CreateImageVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateImageVersionRequest"},
      "output":{"shape":"CreateImageVersionResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreateInferenceComponent":{
      "name":"CreateInferenceComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInferenceComponentInput"},
      "output":{"shape":"CreateInferenceComponentOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateInferenceExperiment":{
      "name":"CreateInferenceExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInferenceExperimentRequest"},
      "output":{"shape":"CreateInferenceExperimentResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateInferenceRecommendationsJob":{
      "name":"CreateInferenceRecommendationsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInferenceRecommendationsJobRequest"},
      "output":{"shape":"CreateInferenceRecommendationsJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateLabelingJob":{
      "name":"CreateLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLabelingJobRequest"},
      "output":{"shape":"CreateLabelingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateLineageGroup":{
      "name":"CreateLineageGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLineageGroupRequest"},
      "output":{"shape":"CreateLineageGroupResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateLineageGroupInternal":{
      "name":"CreateLineageGroupInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLineageGroupInternalRequest"},
      "output":{"shape":"CreateLineageGroupInternalResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateModel":{
      "name":"CreateModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelInput"},
      "output":{"shape":"CreateModelOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateModelBiasJobDefinition":{
      "name":"CreateModelBiasJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelBiasJobDefinitionRequest"},
      "output":{"shape":"CreateModelBiasJobDefinitionResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateModelCard":{
      "name":"CreateModelCard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelCardRequest"},
      "output":{"shape":"CreateModelCardResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ConflictException"}
      ],
      "internalonly":true
    },
    "CreateModelCardExportJob":{
      "name":"CreateModelCardExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelCardExportJobRequest"},
      "output":{"shape":"CreateModelCardExportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ConflictException"}
      ],
      "internalonly":true
    },
    "CreateModelExplainabilityJobDefinition":{
      "name":"CreateModelExplainabilityJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelExplainabilityJobDefinitionRequest"},
      "output":{"shape":"CreateModelExplainabilityJobDefinitionResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateModelInternal":{
      "name":"CreateModelInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelInternalInput"},
      "output":{"shape":"CreateModelInternalOutput"},
      "internalonly":true
    },
    "CreateModelPackage":{
      "name":"CreateModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelPackageInput"},
      "output":{"shape":"CreateModelPackageOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateModelPackageGroup":{
      "name":"CreateModelPackageGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelPackageGroupInput"},
      "output":{"shape":"CreateModelPackageGroupOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateModelQualityJobDefinition":{
      "name":"CreateModelQualityJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelQualityJobDefinitionRequest"},
      "output":{"shape":"CreateModelQualityJobDefinitionResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateMonitoringSchedule":{
      "name":"CreateMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMonitoringScheduleRequest"},
      "output":{"shape":"CreateMonitoringScheduleResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateNotebookInstance":{
      "name":"CreateNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceInput"},
      "output":{"shape":"CreateNotebookInstanceOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateNotebookInstanceLifecycleConfig":{
      "name":"CreateNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"CreateNotebookInstanceLifecycleConfigOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreatePersistentVolume":{
      "name":"CreatePersistentVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePersistentVolumeRequest"},
      "output":{"shape":"CreatePersistentVolumeResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreatePipeline":{
      "name":"CreatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePipelineRequest"},
      "output":{"shape":"CreatePipelineResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ConflictException"}
      ]
    },
    "CreatePresignedDomainUrl":{
      "name":"CreatePresignedDomainUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedDomainUrlRequest"},
      "output":{"shape":"CreatePresignedDomainUrlResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreatePresignedDomainUrlWithPrincipalTag":{
      "name":"CreatePresignedDomainUrlWithPrincipalTag",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedDomainUrlWithPrincipalTagRequest"},
      "output":{"shape":"CreatePresignedDomainUrlWithPrincipalTagResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "CreatePresignedNotebookInstanceUrl":{
      "name":"CreatePresignedNotebookInstanceUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedNotebookInstanceUrlInput"},
      "output":{"shape":"CreatePresignedNotebookInstanceUrlOutput"}
    },
    "CreateProcessingJob":{
      "name":"CreateProcessingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProcessingJobRequest"},
      "output":{"shape":"CreateProcessingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreateProcessingJobInternal":{
      "name":"CreateProcessingJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProcessingJobInternalRequest"},
      "output":{"shape":"CreateProcessingJobInternalResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "CreateProject":{
      "name":"CreateProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProjectInput"},
      "output":{"shape":"CreateProjectOutput"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateSharedModel":{
      "name":"CreateSharedModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSharedModelRequest"},
      "output":{"shape":"CreateSharedModelResponse"},
      "internalonly":true
    },
    "CreateSpace":{
      "name":"CreateSpace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSpaceRequest"},
      "output":{"shape":"CreateSpaceResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"}
      ]
    },
    "CreateStudioLifecycleConfig":{
      "name":"CreateStudioLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStudioLifecycleConfigRequest"},
      "output":{"shape":"CreateStudioLifecycleConfigResponse"},
      "errors":[
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "CreateTrainingJob":{
      "name":"CreateTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrainingJobRequest"},
      "output":{"shape":"CreateTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreateTrainingJobInternal":{
      "name":"CreateTrainingJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrainingJobInternalRequest"},
      "output":{"shape":"CreateTrainingJobInternalResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "CreateTransformJob":{
      "name":"CreateTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransformJobRequest"},
      "output":{"shape":"CreateTransformJobResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "CreateTransformJobInternal":{
      "name":"CreateTransformJobInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransformJobInternalRequest"},
      "output":{"shape":"CreateTransformJobInternalResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "CreateTrial":{
      "name":"CreateTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrialRequest"},
      "output":{"shape":"CreateTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateTrialComponent":{
      "name":"CreateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrialComponentRequest"},
      "output":{"shape":"CreateTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "CreateTrialComponentInternal":{
      "name":"CreateTrialComponentInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrialComponentInternalRequest"},
      "output":{"shape":"CreateTrialComponentInternalResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateTrialInternal":{
      "name":"CreateTrialInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrialInternalRequest"},
      "output":{"shape":"CreateTrialInternalResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"}
      ],
      "internalonly":true
    },
    "CreateUserProfile":{
      "name":"CreateUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserProfileRequest"},
      "output":{"shape":"CreateUserProfileResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceInUse"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "CreateWorkforce":{
      "name":"CreateWorkforce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkforceRequest"},
      "output":{"shape":"CreateWorkforceResponse"}
    },
    "CreateWorkteam":{
      "name":"CreateWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkteamRequest"},
      "output":{"shape":"CreateWorkteamResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DeleteAction":{
      "name":"DeleteAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteActionRequest"},
      "output":{"shape":"DeleteActionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteAlgorithm":{
      "name":"DeleteAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAlgorithmInput"},
      "errors":[
        {"shape":"ConflictException"}
      ]
    },
    "DeleteApp":{
      "name":"DeleteApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAppRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteAppImageConfig":{
      "name":"DeleteAppImageConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAppImageConfigRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteArtifact":{
      "name":"DeleteArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteArtifactRequest"},
      "output":{"shape":"DeleteArtifactResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteAssociation":{
      "name":"DeleteAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAssociationRequest"},
      "output":{"shape":"DeleteAssociationResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteCluster":{
      "name":"DeleteCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterRequest"},
      "output":{"shape":"DeleteClusterResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ConflictException"}
      ],
      "internalonly":true
    },
    "DeleteCodeRepository":{
      "name":"DeleteCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCodeRepositoryInput"}
    },
    "DeleteCompilationJob":{
      "name":"DeleteCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCompilationJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteContext":{
      "name":"DeleteContext",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteContextRequest"},
      "output":{"shape":"DeleteContextResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteDataQualityJobDefinition":{
      "name":"DeleteDataQualityJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDataQualityJobDefinitionRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteDeviceFleet":{
      "name":"DeleteDeviceFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDeviceFleetRequest"},
      "errors":[
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDomainRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteEdgeDeploymentPlan":{
      "name":"DeleteEdgeDeploymentPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEdgeDeploymentPlanRequest"},
      "errors":[
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "DeleteEdgeDeploymentStage":{
      "name":"DeleteEdgeDeploymentStage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEdgeDeploymentStageRequest"},
      "errors":[
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointInput"}
    },
    "DeleteEndpointConfig":{
      "name":"DeleteEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointConfigInput"}
    },
    "DeleteEndpointConfigInternal":{
      "name":"DeleteEndpointConfigInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointConfigInputInternal"},
      "internalonly":true
    },
    "DeleteEndpointInternal":{
      "name":"DeleteEndpointInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointInputInternal"},
      "internalonly":true
    },
    "DeleteExperiment":{
      "name":"DeleteExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteExperimentRequest"},
      "output":{"shape":"DeleteExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteFeatureGroup":{
      "name":"DeleteFeatureGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFeatureGroupRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteFlowDefinition":{
      "name":"DeleteFlowDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFlowDefinitionRequest"},
      "output":{"shape":"DeleteFlowDefinitionResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteGraphConfig":{
      "name":"DeleteGraphConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGraphConfigInput"},
      "internalonly":true
    },
    "DeleteHub":{
      "name":"DeleteHub",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHubRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteHubContent":{
      "name":"DeleteHubContent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHubContentRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteHumanTaskUi":{
      "name":"DeleteHumanTaskUi",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHumanTaskUiRequest"},
      "output":{"shape":"DeleteHumanTaskUiResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteHyperParameterTuningJob":{
      "name":"DeleteHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHyperParameterTuningJobRequest"},
      "internalonly":true
    },
    "DeleteImage":{
      "name":"DeleteImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteImageRequest"},
      "output":{"shape":"DeleteImageResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteImageVersion":{
      "name":"DeleteImageVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteImageVersionRequest"},
      "output":{"shape":"DeleteImageVersionResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteInferenceComponent":{
      "name":"DeleteInferenceComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInferenceComponentInput"},
      "internalonly":true
    },
    "DeleteInferenceExperiment":{
      "name":"DeleteInferenceExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInferenceExperimentRequest"},
      "output":{"shape":"DeleteInferenceExperimentResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteInferenceRecommendationsJob":{
      "name":"DeleteInferenceRecommendationsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInferenceRecommendationsJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteLabelingJob":{
      "name":"DeleteLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLabelingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteLabelingPortalPolicy":{
      "name":"DeleteLabelingPortalPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLabelingPortalPolicyRequest"},
      "output":{"shape":"DeleteLabelingPortalPolicyResponse"},
      "internalonly":true
    },
    "DeleteLineageGroup":{
      "name":"DeleteLineageGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLineageGroupRequest"},
      "output":{"shape":"DeleteLineageGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteLineageGroupPolicy":{
      "name":"DeleteLineageGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLineageGroupPolicyRequest"},
      "output":{"shape":"DeleteLineageGroupPolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteModel":{
      "name":"DeleteModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelInput"}
    },
    "DeleteModelBiasJobDefinition":{
      "name":"DeleteModelBiasJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelBiasJobDefinitionRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteModelCard":{
      "name":"DeleteModelCard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelCardRequest"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ConflictException"}
      ],
      "internalonly":true
    },
    "DeleteModelExplainabilityJobDefinition":{
      "name":"DeleteModelExplainabilityJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelExplainabilityJobDefinitionRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteModelInternal":{
      "name":"DeleteModelInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelInputInternal"},
      "internalonly":true
    },
    "DeleteModelPackage":{
      "name":"DeleteModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelPackageInput"},
      "errors":[
        {"shape":"ConflictException"}
      ]
    },
    "DeleteModelPackageGroup":{
      "name":"DeleteModelPackageGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelPackageGroupInput"},
      "errors":[
        {"shape":"ConflictException"}
      ],
      "internalonly":true
    },
    "DeleteModelPackageGroupPolicy":{
      "name":"DeleteModelPackageGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelPackageGroupPolicyInput"},
      "internalonly":true
    },
    "DeleteModelQualityJobDefinition":{
      "name":"DeleteModelQualityJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelQualityJobDefinitionRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteMonitoringSchedule":{
      "name":"DeleteMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMonitoringScheduleRequest"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteNotebookInstance":{
      "name":"DeleteNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceInput"}
    },
    "DeleteNotebookInstanceLifecycleConfig":{
      "name":"DeleteNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInstanceLifecycleConfigInput"}
    },
    "DeletePersistentVolume":{
      "name":"DeletePersistentVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePersistentVolumeRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeletePipeline":{
      "name":"DeletePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePipelineRequest"},
      "output":{"shape":"DeletePipelineResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ConflictException"}
      ]
    },
    "DeletePipelinePolicy":{
      "name":"DeletePipelinePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePipelinePolicyRequest"},
      "output":{"shape":"DeletePipelinePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "deprecated":true,
      "internalonly":true
    },
    "DeleteProcessingJob":{
      "name":"DeleteProcessingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProcessingJobRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteProject":{
      "name":"DeleteProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProjectInput"},
      "errors":[
        {"shape":"ConflictException"}
      ],
      "internalonly":true
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteSharedModel":{
      "name":"DeleteSharedModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSharedModelRequest"},
      "output":{"shape":"DeleteSharedModelResponse"},
      "internalonly":true
    },
    "DeleteSpace":{
      "name":"DeleteSpace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSpaceRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteStudioLifecycleConfig":{
      "name":"DeleteStudioLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStudioLifecycleConfigRequest"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsInput"},
      "output":{"shape":"DeleteTagsOutput"}
    },
    "DeleteTrainingJob":{
      "name":"DeleteTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrainingJobRequest"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "DeleteTransformJob":{
      "name":"DeleteTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTransformJobRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DeleteTrial":{
      "name":"DeleteTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrialRequest"},
      "output":{"shape":"DeleteTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteTrialComponent":{
      "name":"DeleteTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrialComponentRequest"},
      "output":{"shape":"DeleteTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteUserProfile":{
      "name":"DeleteUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserProfileRequest"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "DeleteWorkforce":{
      "name":"DeleteWorkforce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkforceRequest"},
      "output":{"shape":"DeleteWorkforceResponse"}
    },
    "DeleteWorkteam":{
      "name":"DeleteWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkteamRequest"},
      "output":{"shape":"DeleteWorkteamResponse"},
      "errors":[
        {"shape":"ResourceLimitExceeded"}
      ]
    },
    "DeregisterDevices":{
      "name":"DeregisterDevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterDevicesRequest"},
      "internalonly":true
    },
    "DescribeAction":{
      "name":"DescribeAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeActionRequest"},
      "output":{"shape":"DescribeActionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeAlgorithm":{
      "name":"DescribeAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAlgorithmInput"},
      "output":{"shape":"DescribeAlgorithmOutput"}
    },
    "DescribeApp":{
      "name":"DescribeApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAppRequest"},
      "output":{"shape":"DescribeAppResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeAppImageConfig":{
      "name":"DescribeAppImageConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAppImageConfigRequest"},
      "output":{"shape":"DescribeAppImageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeArtifact":{
      "name":"DescribeArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeArtifactRequest"},
      "output":{"shape":"DescribeArtifactResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeAutoMLJob":{
      "name":"DescribeAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutoMLJobRequest"},
      "output":{"shape":"DescribeAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeAutoMLJobV2":{
      "name":"DescribeAutoMLJobV2",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutoMLJobV2Request"},
      "output":{"shape":"DescribeAutoMLJobV2Response"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeAutoMLTask":{
      "name":"DescribeAutoMLTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutoMLTaskRequest"},
      "output":{"shape":"DescribeAutoMLTaskResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeCluster":{
      "name":"DescribeCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterRequest"},
      "output":{"shape":"DescribeClusterResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeClusterNode":{
      "name":"DescribeClusterNode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterNodeRequest"},
      "output":{"shape":"DescribeClusterNodeResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeCodeRepository":{
      "name":"DescribeCodeRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCodeRepositoryInput"},
      "output":{"shape":"DescribeCodeRepositoryOutput"}
    },
    "DescribeCompilationJob":{
      "name":"DescribeCompilationJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCompilationJobRequest"},
      "output":{"shape":"DescribeCompilationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeContext":{
      "name":"DescribeContext",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeContextRequest"},
      "output":{"shape":"DescribeContextResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeDataQualityJobDefinition":{
      "name":"DescribeDataQualityJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataQualityJobDefinitionRequest"},
      "output":{"shape":"DescribeDataQualityJobDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeDevice":{
      "name":"DescribeDevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDeviceRequest"},
      "output":{"shape":"DescribeDeviceResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeDeviceFleet":{
      "name":"DescribeDeviceFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDeviceFleetRequest"},
      "output":{"shape":"DescribeDeviceFleetResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeDomain":{
      "name":"DescribeDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDomainRequest"},
      "output":{"shape":"DescribeDomainResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeEdgeDeploymentPlan":{
      "name":"DescribeEdgeDeploymentPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEdgeDeploymentPlanRequest"},
      "output":{"shape":"DescribeEdgeDeploymentPlanResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeEdgePackagingJob":{
      "name":"DescribeEdgePackagingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEdgePackagingJobRequest"},
      "output":{"shape":"DescribeEdgePackagingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointInput"},
      "output":{"shape":"DescribeEndpointOutput"}
    },
    "DescribeEndpointConfig":{
      "name":"DescribeEndpointConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointConfigInput"},
      "output":{"shape":"DescribeEndpointConfigOutput"}
    },
    "DescribeExperiment":{
      "name":"DescribeExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeExperimentRequest"},
      "output":{"shape":"DescribeExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeFeatureGroup":{
      "name":"DescribeFeatureGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFeatureGroupRequest"},
      "output":{"shape":"DescribeFeatureGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeFeatureMetadata":{
      "name":"DescribeFeatureMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFeatureMetadataRequest"},
      "output":{"shape":"DescribeFeatureMetadataResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeFlowDefinition":{
      "name":"DescribeFlowDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFlowDefinitionRequest"},
      "output":{"shape":"DescribeFlowDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeGraphConfig":{
      "name":"DescribeGraphConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGraphConfigInput"},
      "output":{"shape":"DescribeGraphConfigOutput"},
      "internalonly":true
    },
    "DescribeHub":{
      "name":"DescribeHub",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHubRequest"},
      "output":{"shape":"DescribeHubResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeHubContent":{
      "name":"DescribeHubContent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHubContentRequest"},
      "output":{"shape":"DescribeHubContentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeHumanTaskUi":{
      "name":"DescribeHumanTaskUi",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHumanTaskUiRequest"},
      "output":{"shape":"DescribeHumanTaskUiResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeHyperParameterTuningJob":{
      "name":"DescribeHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHyperParameterTuningJobRequest"},
      "output":{"shape":"DescribeHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeImage":{
      "name":"DescribeImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImageRequest"},
      "output":{"shape":"DescribeImageResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeImageVersion":{
      "name":"DescribeImageVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImageVersionRequest"},
      "output":{"shape":"DescribeImageVersionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeInferenceComponent":{
      "name":"DescribeInferenceComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInferenceComponentInput"},
      "output":{"shape":"DescribeInferenceComponentOutput"},
      "internalonly":true
    },
    "DescribeInferenceExperiment":{
      "name":"DescribeInferenceExperiment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInferenceExperimentRequest"},
      "output":{"shape":"DescribeInferenceExperimentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeInferenceRecommendationsJob":{
      "name":"DescribeInferenceRecommendationsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInferenceRecommendationsJobRequest"},
      "output":{"shape":"DescribeInferenceRecommendationsJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeInternal":{
      "name":"DescribeInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInternalRequest"},
      "output":{"shape":"DescribeInternalResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeLabelingJob":{
      "name":"DescribeLabelingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLabelingJobRequest"},
      "output":{"shape":"DescribeLabelingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeLineageGroup":{
      "name":"DescribeLineageGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLineageGroupRequest"},
      "output":{"shape":"DescribeLineageGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeModel":{
      "name":"DescribeModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelInput"},
      "output":{"shape":"DescribeModelOutput"}
    },
    "DescribeModelBiasJobDefinition":{
      "name":"DescribeModelBiasJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelBiasJobDefinitionRequest"},
      "output":{"shape":"DescribeModelBiasJobDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeModelCard":{
      "name":"DescribeModelCard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelCardRequest"},
      "output":{"shape":"DescribeModelCardResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeModelCardExportJob":{
      "name":"DescribeModelCardExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelCardExportJobRequest"},
      "output":{"shape":"DescribeModelCardExportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeModelExplainabilityJobDefinition":{
      "name":"DescribeModelExplainabilityJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelExplainabilityJobDefinitionRequest"},
      "output":{"shape":"DescribeModelExplainabilityJobDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeModelPackage":{
      "name":"DescribeModelPackage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelPackageInput"},
      "output":{"shape":"DescribeModelPackageOutput"}
    },
    "DescribeModelPackageGroup":{
      "name":"DescribeModelPackageGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelPackageGroupInput"},
      "output":{"shape":"DescribeModelPackageGroupOutput"},
      "internalonly":true
    },
    "DescribeModelQualityJobDefinition":{
      "name":"DescribeModelQualityJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelQualityJobDefinitionRequest"},
      "output":{"shape":"DescribeModelQualityJobDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeMonitoringSchedule":{
      "name":"DescribeMonitoringSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMonitoringScheduleRequest"},
      "output":{"shape":"DescribeMonitoringScheduleResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeNotebookInstance":{
      "name":"DescribeNotebookInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceInput"},
      "output":{"shape":"DescribeNotebookInstanceOutput"}
    },
    "DescribeNotebookInstanceLifecycleConfig":{
      "name":"DescribeNotebookInstanceLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookInstanceLifecycleConfigInput"},
      "output":{"shape":"DescribeNotebookInstanceLifecycleConfigOutput"}
    },
    "DescribePersistentVolume":{
      "name":"DescribePersistentVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePersistentVolumeRequest"},
      "output":{"shape":"DescribePersistentVolumeResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribePipeline":{
      "name":"DescribePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePipelineRequest"},
      "output":{"shape":"DescribePipelineResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribePipelineDefinitionForExecution":{
      "name":"DescribePipelineDefinitionForExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePipelineDefinitionForExecutionRequest"},
      "output":{"shape":"DescribePipelineDefinitionForExecutionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribePipelineExecution":{
      "name":"DescribePipelineExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePipelineExecutionRequest"},
      "output":{"shape":"DescribePipelineExecutionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeProcessingJob":{
      "name":"DescribeProcessingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProcessingJobRequest"},
      "output":{"shape":"DescribeProcessingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeProject":{
      "name":"DescribeProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProjectInput"},
      "output":{"shape":"DescribeProjectOutput"},
      "internalonly":true
    },
    "DescribeSharedModel":{
      "name":"DescribeSharedModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSharedModelRequest"},
      "output":{"shape":"DescribeSharedModelResponse"},
      "internalonly":true
    },
    "DescribeSpace":{
      "name":"DescribeSpace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpaceRequest"},
      "output":{"shape":"DescribeSpaceResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeStudioLifecycleConfig":{
      "name":"DescribeStudioLifecycleConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStudioLifecycleConfigRequest"},
      "output":{"shape":"DescribeStudioLifecycleConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "DescribeSubscribedWorkteam":{
      "name":"DescribeSubscribedWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSubscribedWorkteamRequest"},
      "output":{"shape":"DescribeSubscribedWorkteamResponse"}
    },
    "DescribeTrainingJob":{
      "name":"DescribeTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrainingJobRequest"},
      "output":{"shape":"DescribeTrainingJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTransformJob":{
      "name":"DescribeTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTransformJobRequest"},
      "output":{"shape":"DescribeTransformJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTrial":{
      "name":"DescribeTrial",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrialRequest"},
      "output":{"shape":"DescribeTrialResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeTrialComponent":{
      "name":"DescribeTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrialComponentRequest"},
      "output":{"shape":"DescribeTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "DescribeUserProfile":{
      "name":"DescribeUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserProfileRequest"},
      "output":{"shape":"DescribeUserProfileResponse"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"AccessDeniedException"}
      ]
    },
    "DescribeWorkforce":{
      "name":"DescribeWorkforce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkforceRequest"},
      "output":{"shape":"DescribeWorkforceResponse"}
    },
    "DescribeWorkteam":{
      "name":"DescribeWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkteamRequest"},
      "output":{"shape":"DescribeWorkteamResponse"}
    },
    "DisableSagemakerServicecatalogPortfolio":{
      "name":"DisableSagemakerServicecatalogPortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableSagemakerServicecatalogPortfolioInput"},
      "output":{"shape":"DisableSagemakerServicecatalogPortfolioOutput"},
      "internalonly":true
    },
    "DisassociateTrialComponent":{
      "name":"DisassociateTrialComponent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateTrialComponentRequest"},
      "output":{"shape":"DisassociateTrialComponentResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "EnableSagemakerServicecatalogPortfolio":{
      "name":"EnableSagemakerServicecatalogPortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableSagemakerServicecatalogPortfolioInput"},
      "output":{"shape":"EnableSagemakerServicecatalogPortfolioOutput"},
      "internalonly":true
    },
    "GetDeviceFleetReport":{
      "name":"GetDeviceFleetReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeviceFleetReportRequest"},
      "output":{"shape":"GetDeviceFleetReportResponse"},
      "internalonly":true
    },
    "GetLabelingPortalPolicy":{
      "name":"GetLabelingPortalPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLabelingPortalPolicyRequest"},
      "output":{"shape":"GetLabelingPortalPolicyResponse"},
      "internalonly":true
    },
    "GetLineageGroupPolicy":{
      "name":"GetLineageGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLineageGroupPolicyRequest"},
      "output":{"shape":"GetLineageGroupPolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "GetModelPackageGroupPolicy":{
      "name":"GetModelPackageGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetModelPackageGroupPolicyInput"},
      "output":{"shape":"GetModelPackageGroupPolicyOutput"},
      "internalonly":true
    },
    "GetPipelinePolicy":{
      "name":"GetPipelinePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPipelinePolicyRequest"},
      "output":{"shape":"GetPipelinePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "deprecated":true,
      "internalonly":true
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourcePolicyRequest"},
      "output":{"shape":"GetResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "GetSagemakerServicecatalogPortfolioStatus":{
      "name":"GetSagemakerServicecatalogPortfolioStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSagemakerServicecatalogPortfolioStatusInput"},
      "output":{"shape":"GetSagemakerServicecatalogPortfolioStatusOutput"},
      "internalonly":true
    },
    "GetScalingConfigurationRecommendation":{
      "name":"GetScalingConfigurationRecommendation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetScalingConfigurationRecommendationRequest"},
      "output":{"shape":"GetScalingConfigurationRecommendationResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "GetSearchSuggestions":{
      "name":"GetSearchSuggestions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSearchSuggestionsRequest"},
      "output":{"shape":"GetSearchSuggestionsResponse"}
    },
    "ImportHubContent":{
      "name":"ImportHubContent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportHubContentRequest"},
      "output":{"shape":"ImportHubContentResponse"},
      "errors":[
        {"shape":"ResourceInUse"},
        {"shape":"ResourceLimitExceeded"},
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListActions":{
      "name":"ListActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListActionsRequest"},
      "output":{"shape":"ListActionsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListAlgorithms":{
      "name":"ListAlgorithms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAlgorithmsInput"},
      "output":{"shape":"ListAlgorithmsOutput"}
    },
    "ListAliases":{
      "name":"ListAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAliasesRequest"},
      "output":{"shape":"ListAliasesResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListAppImageConfigs":{
      "name":"ListAppImageConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAppImageConfigsRequest"},
      "output":{"shape":"ListAppImageConfigsResponse"}
    },
    "ListApps":{
      "name":"ListApps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAppsRequest"},
      "output":{"shape":"ListAppsResponse"}
    },
    "ListArtifacts":{
      "name":"ListArtifacts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListArtifactsRequest"},
      "output":{"shape":"ListArtifactsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListAssociations":{
      "name":"ListAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociationsRequest"},
      "output":{"shape":"ListAssociationsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListAutoMLJobs":{
      "name":"ListAutoMLJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAutoMLJobsRequest"},
      "output":{"shape":"ListAutoMLJobsResponse"}
    },
    "ListAutoMLTasksForAutoMLJob":{
      "name":"ListAutoMLTasksForAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAutoMLTasksForAutoMLJobRequest"},
      "output":{"shape":"ListAutoMLTasksForAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListCandidatesForAutoMLJob":{
      "name":"ListCandidatesForAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCandidatesForAutoMLJobRequest"},
      "output":{"shape":"ListCandidatesForAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListClusterNodes":{
      "name":"ListClusterNodes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListClusterNodesRequest"},
      "output":{"shape":"ListClusterNodesResponse"},
      "internalonly":true
    },
    "ListClusters":{
      "name":"ListClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListClustersRequest"},
      "output":{"shape":"ListClustersResponse"},
      "internalonly":true
    },
    "ListCodeRepositories":{
      "name":"ListCodeRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCodeRepositoriesInput"},
      "output":{"shape":"ListCodeRepositoriesOutput"}
    },
    "ListCompilationJobs":{
      "name":"ListCompilationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCompilationJobsRequest"},
      "output":{"shape":"ListCompilationJobsResponse"}
    },
    "ListComponentJobsForAutoMLJob":{
      "name":"ListComponentJobsForAutoMLJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListComponentJobsForAutoMLJobRequest"},
      "output":{"shape":"ListComponentJobsForAutoMLJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListContexts":{
      "name":"ListContexts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListContextsRequest"},
      "output":{"shape":"ListContextsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListDataQualityJobDefinitions":{
      "name":"ListDataQualityJobDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDataQualityJobDefinitionsRequest"},
      "output":{"shape":"ListDataQualityJobDefinitionsResponse"},
      "internalonly":true
    },
    "ListDeviceFleets":{
      "name":"ListDeviceFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeviceFleetsRequest"},
      "output":{"shape":"ListDeviceFleetsResponse"},
      "internalonly":true
    },
    "ListDevices":{
      "name":"ListDevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDevicesRequest"},
      "output":{"shape":"ListDevicesResponse"},
      "internalonly":true
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDomainsRequest"},
      "output":{"shape":"ListDomainsResponse"}
    },
    "ListEdgeDeploymentPlans":{
      "name":"ListEdgeDeploymentPlans",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEdgeDeploymentPlansRequest"},
      "output":{"shape":"ListEdgeDeploymentPlansResponse"},
      "internalonly":true
    },
    "ListEdgePackagingJobs":{
      "name":"ListEdgePackagingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEdgePackagingJobsRequest"},
      "output":{"shape":"ListEdgePackagingJobsResponse"},
      "internalonly":true
    },
    "ListEndpointConfigs":{
      "name":"ListEndpointConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointConfigsInput"},
      "output":{"shape":"ListEndpointConfigsOutput"}
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsInput"},
      "output":{"shape":"ListEndpointsOutput"}
    },
    "ListExperiments":{
      "name":"ListExperiments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListExperimentsRequest"},
      "output":{"shape":"ListExperimentsResponse"}
    },
    "ListFeatureGroups":{
      "name":"ListFeatureGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFeatureGroupsRequest"},
      "output":{"shape":"ListFeatureGroupsResponse"},
      "internalonly":true
    },
    "ListFlowDefinitions":{
      "name":"ListFlowDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFlowDefinitionsRequest"},
      "output":{"shape":"ListFlowDefinitionsResponse"}
    },
    "ListHubContentVersions":{
      "name":"ListHubContentVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHubContentVersionsRequest"},
      "output":{"shape":"ListHubContentVersionsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListHubContents":{
      "name":"ListHubContents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHubContentsRequest"},
      "output":{"shape":"ListHubContentsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListHubs":{
      "name":"ListHubs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHubsRequest"},
      "output":{"shape":"ListHubsResponse"}
    },
    "ListHumanTaskUis":{
      "name":"ListHumanTaskUis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHumanTaskUisRequest"},
      "output":{"shape":"ListHumanTaskUisResponse"}
    },
    "ListHyperParameterTuningJobs":{
      "name":"ListHyperParameterTuningJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHyperParameterTuningJobsRequest"},
      "output":{"shape":"ListHyperParameterTuningJobsResponse"}
    },
    "ListImageVersions":{
      "name":"ListImageVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListImageVersionsRequest"},
      "output":{"shape":"ListImageVersionsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListImages":{
      "name":"ListImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListImagesRequest"},
      "output":{"shape":"ListImagesResponse"}
    },
    "ListInferenceComponents":{
      "name":"ListInferenceComponents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInferenceComponentsInput"},
      "output":{"shape":"ListInferenceComponentsOutput"},
      "internalonly":true
    },
    "ListInferenceExperiments":{
      "name":"ListInferenceExperiments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInferenceExperimentsRequest"},
      "output":{"shape":"ListInferenceExperimentsResponse"}
    },
    "ListInferenceRecommendationsJobSteps":{
      "name":"ListInferenceRecommendationsJobSteps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInferenceRecommendationsJobStepsRequest"},
      "output":{"shape":"ListInferenceRecommendationsJobStepsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListInferenceRecommendationsJobs":{
      "name":"ListInferenceRecommendationsJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInferenceRecommendationsJobsRequest"},
      "output":{"shape":"ListInferenceRecommendationsJobsResponse"}
    },
    "ListLabelingJobs":{
      "name":"ListLabelingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLabelingJobsRequest"},
      "output":{"shape":"ListLabelingJobsResponse"}
    },
    "ListLabelingJobsForWorkteam":{
      "name":"ListLabelingJobsForWorkteam",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLabelingJobsForWorkteamRequest"},
      "output":{"shape":"ListLabelingJobsForWorkteamResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListLineageGroups":{
      "name":"ListLineageGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLineageGroupsRequest"},
      "output":{"shape":"ListLineageGroupsResponse"},
      "internalonly":true
    },
    "ListModelBiasJobDefinitions":{
      "name":"ListModelBiasJobDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelBiasJobDefinitionsRequest"},
      "output":{"shape":"ListModelBiasJobDefinitionsResponse"},
      "internalonly":true
    },
    "ListModelCardExportJobs":{
      "name":"ListModelCardExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelCardExportJobsRequest"},
      "output":{"shape":"ListModelCardExportJobsResponse"},
      "internalonly":true
    },
    "ListModelCardVersions":{
      "name":"ListModelCardVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelCardVersionsRequest"},
      "output":{"shape":"ListModelCardVersionsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListModelCards":{
      "name":"ListModelCards",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelCardsRequest"},
      "output":{"shape":"ListModelCardsResponse"},
      "internalonly":true
    },
    "ListModelExplainabilityJobDefinitions":{
      "name":"ListModelExplainabilityJobDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelExplainabilityJobDefinitionsRequest"},
      "output":{"shape":"ListModelExplainabilityJobDefinitionsResponse"},
      "internalonly":true
    },
    "ListModelMetadata":{
      "name":"ListModelMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelMetadataRequest"},
      "output":{"shape":"ListModelMetadataResponse"}
    },
    "ListModelPackageGroups":{
      "name":"ListModelPackageGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelPackageGroupsInput"},
      "output":{"shape":"ListModelPackageGroupsOutput"},
      "internalonly":true
    },
    "ListModelPackages":{
      "name":"ListModelPackages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelPackagesInput"},
      "output":{"shape":"ListModelPackagesOutput"}
    },
    "ListModelQualityJobDefinitions":{
      "name":"ListModelQualityJobDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelQualityJobDefinitionsRequest"},
      "output":{"shape":"ListModelQualityJobDefinitionsResponse"},
      "internalonly":true
    },
    "ListModels":{
      "name":"ListModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelsInput"},
      "output":{"shape":"ListModelsOutput"}
    },
    "ListMonitoringAlertHistory":{
      "name":"ListMonitoringAlertHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMonitoringAlertHistoryRequest"},
      "output":{"shape":"ListMonitoringAlertHistoryResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListMonitoringAlerts":{
      "name":"ListMonitoringAlerts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMonitoringAlertsRequest"},
      "output":{"shape":"ListMonitoringAlertsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListMonitoringExecutions":{
      "name":"ListMonitoringExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMonitoringExecutionsRequest"},
      "output":{"shape":"ListMonitoringExecutionsResponse"}
    },
    "ListMonitoringSchedules":{
      "name":"ListMonitoringSchedules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMonitoringSchedulesRequest"},
      "output":{"shape":"ListMonitoringSchedulesResponse"}
    },
    "ListNotebookInstanceLifecycleConfigs":{
      "name":"ListNotebookInstanceLifecycleConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstanceLifecycleConfigsInput"},
      "output":{"shape":"ListNotebookInstanceLifecycleConfigsOutput"}
    },
    "ListNotebookInstances":{
      "name":"ListNotebookInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookInstancesInput"},
      "output":{"shape":"ListNotebookInstancesOutput"}
    },
    "ListPipelineExecutionSteps":{
      "name":"ListPipelineExecutionSteps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPipelineExecutionStepsRequest"},
      "output":{"shape":"ListPipelineExecutionStepsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListPipelineExecutions":{
      "name":"ListPipelineExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPipelineExecutionsRequest"},
      "output":{"shape":"ListPipelineExecutionsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListPipelineParametersForExecution":{
      "name":"ListPipelineParametersForExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPipelineParametersForExecutionRequest"},
      "output":{"shape":"ListPipelineParametersForExecutionResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListPipelines":{
      "name":"ListPipelines",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPipelinesRequest"},
      "output":{"shape":"ListPipelinesResponse"}
    },
    "ListProcessingJobs":{
      "name":"ListProcessingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProcessingJobsRequest"},
      "output":{"shape":"ListProcessingJobsResponse"}
    },
    "ListProjects":{
      "name":"ListProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProjectsInput"},
      "output":{"shape":"ListProjectsOutput"},
      "internalonly":true
    },
    "ListResourceCatalogs":{
      "name":"ListResourceCatalogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceCatalogsRequest"},
      "output":{"shape":"ListResourceCatalogsResponse"}
    },
    "ListSharedModelEvents":{
      "name":"ListSharedModelEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSharedModelEventsRequest"},
      "output":{"shape":"ListSharedModelEventsResponse"},
      "internalonly":true
    },
    "ListSharedModelVersions":{
      "name":"ListSharedModelVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSharedModelVersionsRequest"},
      "output":{"shape":"ListSharedModelVersionsResponse"},
      "internalonly":true
    },
    "ListSharedModels":{
      "name":"ListSharedModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSharedModelsRequest"},
      "output":{"shape":"ListSharedModelsResponse"},
      "internalonly":true
    },
    "ListSpaces":{
      "name":"ListSpaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSpacesRequest"},
      "output":{"shape":"ListSpacesResponse"}
    },
    "ListStageDevices":{
      "name":"ListStageDevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStageDevicesRequest"},
      "output":{"shape":"ListStageDevicesResponse"},
      "internalonly":true
    },
    "ListStudioLifecycleConfigs":{
      "name":"ListStudioLifecycleConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStudioLifecycleConfigsRequest"},
      "output":{"shape":"ListStudioLifecycleConfigsResponse"},
      "errors":[
        {"shape":"ResourceInUse"}
      ],
      "internalonly":true
    },
    "ListSubscribedWorkteams":{
      "name":"ListSubscribedWorkteams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSubscribedWorkteamsRequest"},
      "output":{"shape":"ListSubscribedWorkteamsResponse"}
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsInput"},
      "output":{"shape":"ListTagsOutput"}
    },
    "ListTagsInternal":{
      "name":"ListTagsInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsInternalInput"},
      "output":{"shape":"ListTagsInternalOutput"},
      "internalonly":true
    },
    "ListTrainingJobs":{
      "name":"ListTrainingJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsRequest"},
      "output":{"shape":"ListTrainingJobsResponse"}
    },
    "ListTrainingJobsForHyperParameterTuningJob":{
      "name":"ListTrainingJobsForHyperParameterTuningJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrainingJobsForHyperParameterTuningJobRequest"},
      "output":{"shape":"ListTrainingJobsForHyperParameterTuningJobResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListTransformJobs":{
      "name":"ListTransformJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTransformJobsRequest"},
      "output":{"shape":"ListTransformJobsResponse"}
    },
    "ListTrialComponents":{
      "name":"ListTrialComponents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrialComponentsRequest"},
      "output":{"shape":"ListTrialComponentsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListTrialComponentsInternal":{
      "name":"ListTrialComponentsInternal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrialComponentsInternalRequest"},
      "output":{"shape":"ListTrialComponentsInternalResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "internalonly":true
    },
    "ListTrials":{
      "name":"ListTrials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrialsRequest"},
      "output":{"shape":"ListTrialsResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ]
    },
    "ListUserProfiles":{
      "name":"ListUserProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserProfilesRequest"},
      "output":{"shape":"ListUserProfilesResponse"}
    },
    "ListWorkforces":{
      "name":"ListWorkforces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorkforcesRequest"},
      "output":{"shape":"ListWorkforcesResponse"}
    },
    "ListWorkteams":{
      "name":"ListWorkteams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorkteamsRequest"},
      "output":{"shape":"ListWorkteamsResponse"}
    },
    "PutLabelingPortalPolicy":{
      "name":"PutLabelingPortalPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutLabelingPortalPolicyRequest"},
      "output":{"shape":"PutLabelingPortalPolicyResponse"},
      "internalonly":true
    },
    "PutLineageGroupPolicy":{
      "name":"PutLineageGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutLineageGroupPolicyRequest"},
      "output":{"shape":"PutLineageGroupPolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
[...]
